html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #99806c;
}

body {
    position: absolute;
    top: 0px;
    font-size: 1rem;
}

header h1 {
    font-size: 1.5rem;
}

header {
    margin-top: 1em;
    margin-bottom: 2em;
}

article h3 {
    font-size: 1.4rem;
}

.btn-primary {
    color: #000;
    background-color: #AA7459;
    border-color: #624131;
    cursor: pointer;
}

.btn-primary:hover {
    color: #000;
    background-color: #895d47;
    border-color: #624131;
}

.btn-primary:focus {
    box-shadow: 0 0 0 2px rgba(137, 93, 71, 0.5);
}

#excuse {
    font-size: 2em;
    border: solid 2px #222;
    border-radius: 0.25em;
    flex: 1;
    margin-top: 2em;
    margin-bottom: 2em;
}

#excuse p {
    margin: 0px;
}

@media (max-width: 544px) {
    #excuse {
        font-size: 1.5em;
    }
}

footer .nav {
    color: #000;
    background-color: #AA7459;
    border-color: #624131;
}

footer .nav a {
    color: #000;
}

footer .nav li:hover {
    background-color: #895d47;
}